<!DOCTYPE html>
<html lang="ES">
<head>
      <meta charset="UTF-8">
	  <title>bienvenidos</title>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <link real="stylesheet" href="css/estilos.css" rel="stylesheet" type="text/css">
	  </head>
	  <body>
	  
	  
       <audio src="imagenes/ilumi.mp3" autoplay="true"></audio>


	  <div id="contenedor">
	  <header>
	  <a href="index.html"><h1><center>registro</center></h1></a>
	  <div id="redes">
	  <a href="http://www.facebook.com"><img src="imagenes/facebook.png" alt="facebook"></a>
      <a href="http://www.instagram.com"><img src="imagenes/whatsapp-color-small.png" alt="whatssap"></a>
      <a href="http://www.twiteer.com"><img src="imagenes/icon.tt_.png" alt="twiteer"></a>
	  
	  </div>
	  </header>
	  

      <nav>
	  <ul>
      <li><a href="destacadosegunsucategoria.html">login</a></li>
      </ul>
	  </nav>






	  
	  
	  
	  <section id"banner"> 
	  
	  </section>
	  
	  <section id="contenido">
	  <article class="articulos">
	  

	  <article class="articulos">
	   <h2>iniciar sesion</h2>
	  <img src="imagenes/log.png" alt"">
	  <p><form action="/my-handling-form-page" method="post">
    <p><p><p><p><p><p><p><p><div>
        <p><center><label for="name">nombre:</label>
        <input type="text" id="name" name="user_name" /></center></p>
    </div>
    <div>
        <p><center><label for="mail">apell:</label>
        <input type="email" id="mail" name="user_email" /></center></p>
    </div>
    <div>
        <p><center><label for="mail">usuario:</label>
        <input type="email" id="mail" name="user_email" /></center></p>
    </div>
    <div>
        <p><center><label for="mail">contra:</label>
        <input type="email" id="mail" name="user_email" /></center></p>
    </div>
    
    <div class="button">
        <center><button type="submit" class="btn btn-primary">registrar</button></center>
    </div></p></p></p></p></p></p></p></p>
</form>.</p>
	  

	  </article>
	  </section>
	  
	  <aside>
	  <h3>qu es node js </h3>
	  <p><video src="imagenes/js.mp4" width="220" height="340"  autoplay controls muted ></video></p>
	  <p>es una librería y entorno de ejecución de E/S dirigida por eventos y por lo tanto asíncrona que se ejecuta sobre el intérprete de JavaScript creado por Google V8. Lo cierto es que está muy de moda aunque no es algo nuevo puesto que existen librerías como Twisted que hacen exactamente lo mismo pero si es cierto que es la primera basada en JavaScript y que tiene un gran rendimiento.</p>
	  </aside>
	  <footer>
	  <p>&copy; juan camilo vargas tellez- daniel enrique vergel</p>
	  </footer>
	  
	  
	  
	  </div>
	  
	  
	  
	  </body>
	  </html>





